@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Noto Sans", sans-serif;
    background-color: #15171E;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-toggler .svg-icon {
    fill: #0d6efd;
    /* Changez 'white' par la couleur de votre choix */
}

.bckground {
    background-color: #15171E;
}